<!--<p>dish-details works!</p>-->


<p *ngIf="!dish"><em>Loading ...</em></p>
<button class="btn btn-success float-right" [routerLink]="['/dish']" routerLinkActive="active">Back</button>

<h2>Dish details</h2>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="dish">
  <tbody>
    <tr>
      <th>Name</th>
      <td>{{ dish.name }}</td>
    </tr>
    <tr>
      <th>Description</th>
      <td>{{ dish.description }}</td>
    </tr>
    <tr>
      <th>Dish Category</th>
      <td>{{ dish.dishCategory }}</td>
    </tr>

    <!--<tr>
      <th>DateAdded</th>-->
    <!--<td>{{ movie.dateAdded }}</td>-->
    <!--</tr>-->

  </tbody>
</table>



<div>
  <h3>Reviews</h3>
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="dish">
    <table style="width:100%" *ngIf="dish">
      <thead>
        <tr>
          <th style="width:30%">Content</th>
        </tr>
      </thead>
      <tr *ngFor="let review of dish.reviews">
        <td style="width:30%">{{ review.content }}</td>
      </tr>
    </table>
  </table>
</div>

<!--<th>Reviews</th>
<td>
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="!dish.reviews">
    <tr *ngFor="let review of dish.reviews">
      <td>
        {{ review.content}}
        < *ngIf="comment.important == true">star_border</>
      </td>
      <td>
        <div [routerLinkActive]="['link-active']">
          <button class="btn-link" [routerLink]="['../add/' + dish.id + '/review-add/' + review.id]">edit</button>
          <button class="btn-link" (click)="deleteReview(review.id)">delete</button>
        </div>
      </td>
    </tr>
  </table>
  <div [routerLinkActive]="['link-active']">
    <a class="nav-link text-dark" [routerLink]="['../add/' + dish.id + '/review-add/0']">add</a>
  </div>
</td>-->





<div>
  <h3>Ingredients</h3>

  <!--<table style="width:100%" *ngIf="dish">-->
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="dish">
    <thead>
      <tr>
        <th style="width:30%">Name</th>
        <th style="width:30%">Ingredient Type</th>
        <th style="width:30%">Origin</th>
      </tr>
    </thead>
    <tr *ngFor="let ingredient of dish.ingredients">
      <td style="width:30%">{{ ingredient.name }}</td>
      <td style="width:30%">{{ ingredient.ingredientType }}</td>
      <td style="width:30%">{{ ingredient.origin }}</td>
    </tr>
  </table>
</div>

<button class="btn btn-success float-right" [routerLink]="['/dish']" routerLinkActive="active">Back</button>
